body {
    background-color: #0d1a33;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

div {
    margin: 20px;
    text-align: center;
}

img {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1 {
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

h1:hover {
    color: #0077cc;
}
