body{
    background-color:#0d1a33;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 350px;
}

.flex{
    display: flex;
    text-align: center;
    justify-content: center;
}

.button{
    display: flex;
    text-align: center;
    justify-content: center;
}

#icones{
    padding: 100px;
    height: 100px;
}